[MASTER]
disable=
  C0114, # (missing-module-docstring)
  E0401, # (import-error)
  C0116, # (missing-function-docstring)
  W0212, # (protected-access)
  C0209, # (consider-using-f-string)
  W1202, # (logging-format-interpolation)
  W0718, # (broad-exception-caught)
  W0621, # (redefined-outer-name)
